<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Teamid:</strong>
  <%= @user.teamid %>
</p>

<p>
  <strong>Wins:</strong>
  <%= @user.wins %>
</p>

<p>
  <strong>Losses:</strong>
  <%= @user.losses %>
</p>

<p>
  <strong>Ties:</strong>
  <%= @user.ties %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
